﻿@model CRM_TripleTech.Models.ViewModels.Feedback.AdminFeedbackViewModel
@{
    ViewBag.Title = "Feedback Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="title">Response</h4>
                <p class="category">Compose your message to our client</p>
            </div>
            <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Customer Name</label>
                                @Html.TextBoxFor(m => m.CustomerName, htmlAttributes: new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Company</label>
                                @Html.TextBoxFor(m => m.CompanyName, htmlAttributes: new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Subject</label>
                                @Html.TextBoxFor(m => m.Subject, htmlAttributes: new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Customer Message</label>
                                @Html.TextAreaFor(m => m.ClientMessage, htmlAttributes: new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Reply Message</label>
                                @Html.TextAreaFor(m => m.AdminMessage, htmlAttributes: new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
