﻿@model CRM_TripleTech.Models.ViewModels.Feedback.FeedbackViewModel
@using CRM_TripleTech.Models
@{
    ViewBag.Title = "Feedback";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="title">Search Filter</h4>
                <p class="category">Minimize selection of records by selecting a value</p>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Index", "Feedback"))
                {
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">ID</label>
                                @Html.TextBoxFor(m => m.ID, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Subject</label>
                                @Html.TextBoxFor(m => m.Subject, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Customer</label>
                                @Html.DropDownListFor(m => m.ClientID, Model.drp_Client, "-- Select an item --", htmlAttributes: new { @class = "form-control" })
                            </div>
                            <button type="submit" class="btn btn-primary pull-right">
                                Search
                                <div class="ripple-container"></div>
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Feedbacks Table</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tblMain" class="table table-hover">
                        <thead class="text-primary">
                            <tr>
                                <th></th>
                                <th>ID</th>
                                <th>Subject</th>
                                <th>Priority</th>
                                <th>Client</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.lst_Main)
                            {
                                <tr>
                                    <td></td>
                                    <td><a href="@Url.Action("Details", "FeedbackList", routeValues: new { @id = item.Id})">@item.Id</a></td>
                                    <td>@item.Subject</td>
                                    <td>
                                        @if (item.Status == Constant.PRIORITY_LEVEL_HIGH)
                                        {<span class="text-danger">@item.Status</span> }
                                    else if (item.Status == Constant.PRIORITY_LEVEL_MED)
                                    { <span class="text-warning">@item.Status</span> }
                                else
                                { <span class="text-success">@item.Status</span>}
                                    </td>
                                    <td>
                                        @item.CustomerName
                                        <br />
                                        <small>@item.CompanyName</small>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>$(document).ready(function () {
        $('#tblMain').DataTable({
            'paging': true,
            'lengthChange': false,
            'searching': false,
            'ordering': true,
            'info': false,
            'autoWidth': true
        });
    });</script>
}
