﻿@model CRM_TripleTech.Models.ViewModels.Admin.AdminViewModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@*<script src="~/Scripts/canvasjs.min.js"></script>*@
<div class="content">
    <div class="row">
        <div class="col-xl-6 col-lg-12">
            <div class="card card-chart">
                <div class="card-header card-header-success">
                    <div class="ct-chart" id="ProductsPerCategory"></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Products per category</h4>
                    <p class="card-category">
                        This chart indicates the number of unique items per category.
                    </p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> UTC: @DateTime.UtcNow.ToString()
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-12">
            <div class="card card-chart">
                <div class="card-header card-header-warning">
                    <div class="ct-chart" id="MostBoughtProducts"></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Top 5 Most Bought Products</h4>
                    <p class="card-category">Top 5 bestselling products that our company has to offer.</p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> UTC: @DateTime.UtcNow.ToString()
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-12 col-lg-12">
            <div class="card card-chart">
                <div class="card-header card-header-danger">
                    <div class="ct-chart" id="NumberOfStocksPerProduct"></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Stocks Per Product</h4>
                    <p class="card-category">
                        Legends:
                        <ul>
                            @foreach(var item in Model.lst_LCategory)
                            {
                                <li>@item.ID = @item.Name</li>
                            }
                        </ul>
                    </p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> UTC: @DateTime.UtcNow.ToString()
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-12 col-lg-12">
            <div class="card card-chart">
                <div class="card-header card-header-rose">
                    <div class="ct-chart" id="TopUsers"></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Top Customers</h4>
                    <p class="card-category">List of top customers who loves our product</p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> UTC: @DateTime.UtcNow.ToString()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{

    <!-- Chartist JS -->
    <script src="~/Scripts/Dashboard/plugins/chartist.min.js"></script>
    <script src="~/Scripts/Dashboard/dashboard-chart.js"></script>
    <script>
        window.onload = function () {
            mdchart.initDashboardPageCharts();
        };
    </script>
}
