﻿@model CRM_TripleTech.Models.ViewModels.User.UserDetailViewModel
@using CRM_TripleTech.Models
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="title">User Details</h4>
                <p class="category">our client profile information</p>
            </div>
            <div class="card-body">
                @using (Html.BeginForm(Model.ActionType == Constant.ACTION_TYPE_NEW ? "Add" : "Edit", "User", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.USER_ID)
                    @Html.HiddenFor(m => m.ADDRESS_ID)
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">First Name</label>
                                @Html.TextBoxFor(m => m.FIRSTNAME, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.FIRSTNAME, "", htmlAttributes: new { @class = "text-danger", @style = "margin-top: 0;font-size: 0.75rem;" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Middle Name</label>
                                @Html.TextBoxFor(m => m.MIDDLENAME, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.MIDDLENAME, "", htmlAttributes: new { @class = "text-danger", @style = "margin-top: 0;font-size: 0.75rem;" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Last Name</label>
                                @Html.TextBoxFor(m => m.LASTNAME, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.LASTNAME, "", htmlAttributes: new { @class = "text-danger", @style = "margin-top: 0;font-size: 0.75rem;" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Company</label>
                                @Html.DropDownListFor(m => m.COMPANY_ID, Model.drp_Company, "-- select an item --", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.COMPANY_ID, "", htmlAttributes: new { @class = "text-danger", @style = "margin-top: 0;font-size: 0.75rem;" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Email Address</label>
                                @Html.TextBoxFor(m => m.EMAILADDRESS, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.EMAILADDRESS, "", htmlAttributes: new { @class = "text-danger", @style = "margin-top: 0;font-size: 0.75rem;" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Telephone No</label>
                                @Html.TextBoxFor(m => m.TELEPHONENO, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.TELEPHONENO, "", htmlAttributes: new { @class = "text-danger", @style = "margin-top: 0;font-size: 0.75rem;" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Contact No</label>
                                @Html.TextBoxFor(m => m.CONTACTNO, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.CONTACTNO, "", htmlAttributes: new { @class = "text-danger", @style = "margin-top: 0;font-size: 0.75rem;" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Role</label>
                                @Html.DropDownListFor(m => m.ROLE_ID, Model.drp_Role, "-- select an item --", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ROLE_ID, "", htmlAttributes: new { @class = "text-danger", @style = "margin-top: 0;font-size: 0.75rem;" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Username</label>
                                @Html.TextBoxFor(m => m.USERNAME, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.USERNAME, "", htmlAttributes: new { @class = "text-danger", @style = "margin-top: 0;font-size: 0.75rem;" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Address</label>
                                @Html.TextBoxFor(m => m.ADDRESSNAME, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ADDRESSNAME, "", htmlAttributes: new { @class = "text-danger", @style = "margin-top: 0;font-size: 0.75rem;" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Barangay</label>
                                @Html.TextBoxFor(m => m.BARANGAY, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.BARANGAY, "", htmlAttributes: new { @class = "text-danger", @style = "margin-top: 0;font-size: 0.75rem;" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Municipality</label>
                                @Html.TextBoxFor(m => m.MUNICIPALITY, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.MUNICIPALITY, "", htmlAttributes: new { @class = "text-danger", @style = "margin-top: 0;font-size: 0.75rem;" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Postal Code</label>
                                @Html.TextBoxFor(m => m.POSTALCODE, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.POSTALCODE, "", htmlAttributes: new { @class = "text-danger", @style = "margin-top: 0;font-size: 0.75rem;" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Locality</label>
                                @Html.TextBoxFor(m => m.LOCALITY, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.LOCALITY, "", htmlAttributes: new { @class = "text-danger", @style = "margin-top: 0;font-size: 0.75rem;" })
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">
                        Save
                        <div class="ripple-container"></div>
                    </button>
                }
            </div>
        </div>
    </div>
</div>

