﻿@model CRM_TripleTech.Models.ViewModels.User.UserViewModel
@using CRM_TripleTech.Models
@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="title">Search Filter</h4>
                <p class="category">Minimize selection of records by selecting a value</p>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Index", "User"))
                {
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group bmd-form-group">
                            <label class="bmd-label-floating">ID</label>
                            @Html.TextBoxFor(m => m.ID, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group bmd-form-group">
                            <label class="bmd-label-floating">Customer</label>
                            @Html.DropDownListFor(m => m.CustomerName, Model.drp_User, "-- select an item --", htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group bmd-form-group">
                            <label class="bmd-label-floating">Company</label>
                            @Html.DropDownListFor(m => m.CompanyID, Model.drp_Company, "-- select an item --", htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group bmd-form-group">
                            <label class="bmd-label-floating">Role</label>
                            @Html.DropDownListFor(m => m.RoleID, Model.drp_Role, "-- select an item --", htmlAttributes: new { @class = "form-control" })
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">
                            Search
                            <div class="ripple-container"></div>
                        </button>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">User Table</h4>
            </div>
            <div class="card-body">
                <a href="@Url.Action("Details", "User", routeValues: new { @actiontype = Constant.ACTION_TYPE_NEW})" class="btn btn-success"><i class="material-icons">control_point</i> Create New</a>
                <div class="table-responsive">
                    <table id="tblMain" class="table table-hover">
                        <thead class="text-primary text-center">
                            <tr>
                                <th></th>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Company</th>
                                <th>Role</th>
                                <th>Contact</th>
                                <th>Account</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.lst_Main)
                            {
                                <tr>
                                    <td></td>
                                    <td>@item.ID</td>
                                    <td>@item.FIRSTNAME @item.MIDDLENAME @item.LASTNAME</td>
                                    <td>
                                        @if (item.COMPANY_ID != 0 && item.COMPANY != null)
                                        { @item.COMPANY.NAME }
                                    </td>
                                    <td>
                                        @if (item.ROLE != null)
                                        {
                                            <span>@item.ROLE.NAME</span>
                                        }
                                    </td>
                                    <td>
                                        Email Address: @item.EMAILADDRESS
                                        <br />
                                        Contact #: @item.CONTACTNO
                                        <br />
                                        Telephone #: @item.TELEPHONENO
                                    </td>
                                    <td>
                                        Username: @item.USERNAME
                                    </td>
                                    <td class="td-actions">
                                        <a href="@Url.Action("Details", "User", routeValues: new { @id = item.ID, @actiontype = Constant.ACTION_TYPE_EDIT})"  class="btn btn-primary">
                                            <i class="material-icons">mode_edit</i> View
                                        </a>
                                        @*<a href="@Url.Action("Delete", "User", routeValues: new { id = item.ID })"  class="btn btn-danger" onclick="return confirm('@Constant.CONFIRMATION_MESSAGE_DELETE')">
                                            <i class="material-icons">delete_outline</i> Delete
                                        </a>*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @*<script>
        $(document).ready(function () {
            $('#tblMain').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': false,
                'autoWidth': true
            });
        });
    </script>*@
}

