﻿@model CRM_TripleTech.Models.ViewModels.ServiceTran.ServiceTranDetailViewModel
@using CRM_TripleTech.Models
@{
    ViewBag.Title = "Service Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Service #@Model.Main.Id</h4>
                <p class="category">Information of service</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="tim-typo">
                            <label>Id #:</label> @Model.Main.Id
                        </div>
                        <div class="tim-typo">
                            <label>Service:</label> @Model.Main.ServiceName
                        </div>
                        <div class="tim-typo">
                            <label>Customer:</label> @Model.Main.CustomerName
                        </div>
                        <div class="tim-typo">
                            <label>Company:</label> @Model.Main.Company
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tim-typo">
                            <label>Has assigned user?:</label>
                            @if (!Model.Main.HasAssignedEmployee)
                            {
                                <span>NO</span>
                            }
                            else
                            {
                                <span>YES</span>
                            }
                        </div>
                        <div class="tim-typo">
                            <label>Priority:</label>
                            @if (Model.Main.PriorityLevel == Constant.PRIORITY_LEVEL_HIGH)
                            {<span class="text-danger">@Model.Main.PriorityLevel</span> }
                        else if (Model.Main.PriorityLevel == Constant.PRIORITY_LEVEL_MED)
                        { <span class="text-warning">@Model.Main.PriorityLevel</span> }
                    else
                    { <span class="text-success">@Model.Main.PriorityLevel</span>}
                        </div>
                        <div class="tim-typo">
                            <label>Location:</label> @Model.Main.Location
                        </div>
                        <div class="tim-typo">
                            <label>Status:</label>
                            @if (Model.Main.Status == Constant.SERVICE_STATUS_ACTIVE)
                            {<span class="badge badge-pill badge-secondary">@Model.Main.Status</span> }
                        else if (Model.Main.Status == Constant.SERVICE_STATUS_PROCESSING)
                        { <span class="badge badge-pill badge-info">@Model.Main.Status</span> }
                    else if (Model.Main.Status == Constant.SERVICE_STATUS_ONGOING)
                    { <span class="badge badge-pill badge-warning">@Model.Main.Status</span>}
                else if (Model.Main.Status == Constant.SERVICE_STATUS_COMPLETED)
                { <span class="badge badge-pill badge-success">@Model.Main.Status</span>}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">User Service Transaction</h4>
                <p class="category">Assign a user for this project</p>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Edit", "ServiceTran", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Main.ServiceSchedID)
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Assign User</label>
                                @Html.DropDownListFor(m => m.Main.AssignedUser, Model.drp_User, "-- select an item --", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Main.AssignedUser, "", htmlAttributes: new { @class = "text-danger", @style = "margin-top: 0;font-size: 0.75rem;" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Select Schedule</label>
                                @Html.TextBoxFor(m => m.Main.DateScheduled, htmlAttributes: new { @class = "form-control datetimepicker", @style = "color: black;" })
                                @Html.ValidationMessageFor(m => m.Main.DateScheduled, "", htmlAttributes: new { @class = "text-danger", @style = "margin-top: 0;font-size: 0.75rem;" })
                                <span class="bmd-help">Format: MM/DD/YYYY HH:MM AM/PM. ex. 01/13/2000 10:00 AM</span>
                            </div>
                            <button type="submit" class="btn btn-primary pull-right">
                                Save
                                <div class="ripple-container"></div>
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@section scripts
{
    @*<script src="~/Scripts/Kit/plugins/moment.min.js"></script>

    <!-- Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
    <script src="~/Scripts/Kit/plugins/bootstrap-datetimepicker.js"></script>

    <script src="~/Scripts/Kit/material-kit.min.js"></script>
    <script src="~/Scripts/Dashboard/plugins/moment.js"></script>
        <script src="~/Scripts/Dashboard/plugins/bootstrap-datetimepicker.js"></script>
    <script>
        $(document).ready(function () {
            //init DateTimePickers
            materialKit.initFormExtendedDatetimepickers();
        });

    </script>*@

}