﻿@model CRM_TripleTech.Models.ViewModels.ServiceTran.ServiceTranViewModel
@using CRM_TripleTech.Models
@{
    ViewBag.Title = "Service Transactions";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="title">Search Filter</h4>
                <p class="category">Minimize selection of records by selecting a value</p>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Index", "ServiceTran"))
                {
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group bmd-form-group">
                            <label class="bmd-label-floating">ID</label>
                            @Html.TextBoxFor(m => m.ID, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group bmd-form-group">
                            <label class="bmd-label-floating">Customer</label>
                            @Html.DropDownListFor(m => m.UserID, Model.drp_User, "-- select an item --", htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group bmd-form-group">
                            <label class="bmd-label-floating">Service</label>
                            @Html.DropDownListFor(m => m.ServiceID, Model.drp_Service, "-- select an item --", htmlAttributes: new { @class = "form-control" })
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">
                            Search
                            <div class="ripple-container"></div>
                        </button>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Service Transcations Table</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tblMain" class="table table-hover">
                        <thead class="text-primary">
                            <tr>
                                <th></th>
                                <th>ID</th>
                                <th>Service</th>
                                <th>Customer</th>
                                <th>Priority</th>
                                <th>Status</th>
                                <th>Location</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.lst_Main)
                            {
                            <tr>
                                <td></td>
                                <td>
                                    ID #: @item.Id
                                    <br />
                                    @if (!item.HasAssignedEmployee) {<span class="text-danger">No user is currently assigned</span>}
                                </td>
                                <td>@item.ServiceName</td>
                                <td>
                                    @item.CustomerName
                                    <br />
                                    <small>@item.Company</small>
                                </td>
                                <td>
                                    @if (item.PriorityLevel == Constant.PRIORITY_LEVEL_HIGH)
                                    {<span class="text-danger">@item.PriorityLevel</span> }
                                    else if (item.PriorityLevel == Constant.PRIORITY_LEVEL_MED)
                                    { <span class="text-warning">@item.PriorityLevel</span> }
                                    else
                                    { <span class="text-success">@item.PriorityLevel</span>}
                                </td>
                                <td>
                                    @if (item.Status == Constant.SERVICE_STATUS_ACTIVE)
                                    {<span class="badge badge-pill badge-secondary">@item.Status</span> }
                                else if (item.Status == Constant.SERVICE_STATUS_ONGOING)
                                { <span class="badge badge-pill badge-warning">@item.Status</span> }
                            else if (item.Status == Constant.SERVICE_STATUS_PROCESSING)
                            { <span class="badge badge-pill badge-info">@item.Status</span>}
                            else if (item.Status == Constant.SERVICE_STATUS_COMPLETED)
                            { <span class="badge badge-pill badge-orange">@item.Status</span>}
                                </td>
                                <td>@item.Location</td>
                                <td class="td-actions">
                                    @if (item.HasAssignedEmployee)
                                    {

                                        if (item.Status == Constant.SERVICE_STATUS_PROCESSING)
                                        {
                                            <a href="@Url.Action("UpdateStatus", "ServiceTran", routeValues: new { @id = item.Id, @transaction = Constant.SERVICE_STATUS_COMPLETED })"  class="btn btn-success">
                                                <i class="material-icons">mode_edit</i> Complete
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("UpdateStatus", "ServiceTran", routeValues: new { @id = item.Id, @transaction = Constant.SERVICE_STATUS_PROCESSING })"  class="btn btn-info">
                                                <i class="material-icons">mode_edit</i> Process
                                            </a>
                                        }
                                    }
                                    else
                                    {
                                    <a href="@Url.Action("Details", "ServiceTran", routeValues: new { @id = item.Id })"  class="btn btn-primary">
                                        <i class="material-icons">mode_edit</i> Edit Transaction
                                    </a>
                                    }
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#tblMain').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': false,
                'autoWidth': true
            });
        });
    </script>
}