﻿@model CRM_TripleTech.Models.ViewModels.PurchaseOrder.PurchaseOrderViewModel
@using CRM_TripleTech.Models
@{
    ViewBag.Title = "Purchase Order";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="title">Search Filter</h4>
                <p class="category">Minimize selection of records by selecting a value</p>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Index", "PurchaseOrder"))
                {
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">ID</label>
                                @Html.TextBoxFor(m => m.ID, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Company</label>
                                @Html.DropDownListFor(m => m.CompanyID, Model.lst_Company, "-- Select an item --", htmlAttributes: new { @class = "form-control" })
                            </div>
                            <button type="submit" class="btn btn-primary pull-right">
                                Search
                                <div class="ripple-container"></div>
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Purchase Order Table</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tblMain" class="table table-hover">
                        <thead class="text-primary">
                            <tr>
                                <th></th>
                                <th>ID</th>
                                <th>Purchase No</th>
                                <th>Company</th>
                                <th>Inventory</th>
                                <th>Quantity</th>
                                <th>Total Price</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.lst_Main)
                            {
                                <tr>
                                    <td></td>
                                    <td>@item.ID</td>
                                    <td>
                                        @item.PURCHASENO
                                    </td>
                                    <td>
                                        @if (item.COMPANY != null)
                                        {
                                            @item.COMPANY.CODE
                                            <br />
                                            <small>@item.COMPANY.NAME</small>
                                        }
                                    </td>
                                    <td>
                                        @if (item.INVENTORY != null)
                                        {
                                            @item.INVENTORY.NAME
                                            if (item.INVENTORY.CATEGORY != null)
                                            {
                                                <br />
                                                <small>@item.INVENTORY.CATEGORY.NAME</small>
                                            }
                                        }
                                    </td>
                                    <td>@item.QUANTITY</td>
                                    <td>₱ @item.AMOUNT</td>
                                    <td>
                                        @if (item.STATUS == Constant.PURCHASE_ORDER_STATUS_PROCESSING)
                                        {<span class="text-info">@item.STATUS</span> }
                                        else if (item.STATUS == Constant.PURCHASE_ORDER_STATUS_RECEIVED)
                                        { <span class="text-success">@item.STATUS</span> }
                                    </td>
                                    <td class="td-actions">
                                        <a href="@Url.Action("UpdateStatus", "PurchaseOrder", routeValues: new { @id = item.ID, @transaction = Constant.PURCHASE_ORDER_STATUS_RECEIVED})" rel="tooltip" class="btn btn-info">
                                            <i class="material-icons"></i> COMPLETE
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {
            $('#tblMain').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': false,
                'autoWidth': true
            });
        });
    </script>
}