﻿@model CRM_TripleTech.Models.ViewModels.OrderTran.OrderTranModel
@using CRM_TripleTech.Models
@using CRM_TripleTech.Models.DAL
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="title">Order #@Model.Id Details</h4>
                <p class="category">information and items ordered</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="tim-typo">
                            <label>Order #:</label> @Model.Id
                        </div>
                        <div class="tim-typo">
                            <label>Customer:</label> @Model.CustomerName
                        </div>
                        <div class="tim-typo">
                            <label>Company:</label> @Model.Company
                        </div>
                        <div class="tim-typo">
                            <label>Priority:</label>
                            @if (Model.PriorityLevel == Constant.PRIORITY_LEVEL_HIGH)
                            {<span class="text-danger">@Model.PriorityLevel</span> }
                        else if (Model.PriorityLevel == Constant.PRIORITY_LEVEL_MED)
                        { <span class="text-warning">@Model.PriorityLevel</span> }
                    else
                    { <span class="text-success">@Model.PriorityLevel</span>}
                        </div>
                        <div class="tim-typo">
                            <label>Status:</label>
                            @if (Model.Status == Constant.ORDERTRAN_STATUS_ACTIVE)
                            {<span class="badge badge-pill badge-secondary">@Model.Status</span> }
                        else if (Model.Status == Constant.ORDERTRAN_STATUS_PROCESSING)
                        { <span class="badge badge-pill badge-info">@Model.Status</span> }
                    else if (Model.Status == Constant.ORDERTRAN_STATUS_SHIPPING)
                    { <span class="badge badge-pill badge-info">@Model.Status</span>}
                    else if (Model.Status == Constant.ORDERTRAN_STATUS_COMPLETED)
                    { <span class="badge badge-pill badge-success">@Model.Status</span>}
                    else if (Model.Status == Constant.ORDERTRAN_STATUS_CANCELLED)
                    { <span class="badge badge-pill badge-danger">@Model.Status</span>}
                        </div>
                    </div>
                    <div class="col-md 6">
                        <div class="tim-typo">
                            <label>Total Price:</label>
                            @if (Model.Status == Constant.ORDERTRAN_STATUS_ACTIVE)
                            {<span class="text-info">Order is still active</span>}
                            else if (Model.Status == Constant.ORDERTRAN_STATUS_CANCELLED)
                            { <span class="text-danger">Order has been cancelled.</span>}
                            else
                            { <span>₱ @Model.TotalPrice</span>}
                        </div>
                        <div class="tim-typo">
                            <label>Total Unique items:</label> @Model.lst_Main.Count
                        </div>
                        <div class="tim-typo">
                            <label>Date Delivered (UTC):</label> @Model.DateDelivered
                        </div>
                        <div class="tim-typo">
                            <label>Last Updated (UTC):</label> @Model.DateUpdated
                        </div>
                        <div class="tim-typo">
                            <label>Updated By:</label> @Model.LastUpdatedBy
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="tim-typo">
                            <label>Location:</label> @Model.Location
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="title">Items Ordered</h4>
                <p class="category">List of items ordered and its information</p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tblMain" class="table table-hover">
                        <thead class="text-primary">
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th class="th-description">Category</th>
                                <th style="width: 100px;">Price</th>
                                <th>Quantity</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.lst_Main)
                            {
                                <tr>
                                    <td>
                                        <div class="img-container">
                                            @if (StaticMethods.ProductFileExists("~/images/products/" + item.Id + ".jpg"))
        {
            var fileName = item.Id + ".jpg";
                                    <img src="~/images/products/@fileName" style="width: 150px; height: 150px;" />
}
else
{
                                    <img src="~/Content/Kit/img/default_img/no_image_default.jpg" style="width: 150px; height: 150px;" />
}

                                        </div>
                                    </td>
                                    <td>
                                        @item.Name
                                        <br />
                                        @if (item.Status == Constant.ORDERTRAN_STATUS_ACTIVE)
                                        {<span class="badge badge-pill badge-secondary">@item.Status</span> }
                                    else if (item.Status == Constant.ORDERTRAN_STATUS_PROCESSING)
                                    { <span class="badge badge-pill badge-info">@item.Status</span> }
                                else if (item.Status == Constant.ORDERTRAN_STATUS_SHIPPING)
                                { <span class="badge badge-pill badge-info">@item.Status</span>}
                                else if (item.Status == Constant.ORDERTRAN_STATUS_COMPLETED)
                                { <span class="badge badge-pill badge-success">@item.Status</span>}
                                else if (item.Status == Constant.ORDERTRAN_STATUS_CANCELLED)
                                { <span class="badge badge-pill badge-danger">@item.Status</span>}
                                    </td>
                                    <td>@item.CategoryName</td>
                                    <td>
                                        <small>₱</small> @item.Price
                                    </td>
                                    <td>
                                        @item.Quantity
                                    </td>
                                    <td>
                                        <small>₱</small> @item.Amount
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @*<script>
        $(document).ready(function () {
            $('#tblMain').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': false,
                'autoWidth': true
            });
        });
    </script>*@
}


