﻿@model List<CRM_TripleTech.Models.AppNotification>
@*@if (Model.Count != 0)
{*@
<li class="dropdown nav-item">
    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
        <i class="material-icons">notifications</i> Notifications
    </a>
    @*<a class="nav-link" rel="tooltip" data-placement="bottom" href="javascript:void(0)" id="accountNotificationLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="material-icons">notifications</i> Notifications
        @if (Model.Count > 0)
        {
            <span class="notification">@Model.Count</span>
        }
    </a>*@
    <div class="dropdown-menu dropdown-menu-right dropdown-with-icons" aria-labelledby="accountNotificationLink">
        @if (Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <div class="card">
                    <div class="card-header @item.Class">
                        @item.Header
                    </div>
                    <div class="card-body">
                        @foreach (var line in item.Body.Split('\n'))
                        {
                            <h6 class="card-text">@line</h6>
                        }
                    </div>
                </div>
            }
        }
        else
        {
            <span class="dropdown-item">
                No Notifications
            </span>
        }
    </div>
</li>

@*}*@
