﻿@using CRM_TripleTech.Models
<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:void(0)">@ViewBag.Title</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Home")">
                        <i class="material-icons">store</i>
                        <p class="d-lg-none d-md-block">
                            Public Store
                        </p>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    @Html.Action("GetAdminNavbarNotification", "Admin")
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="javascript:void(0)" id="navAccountMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">perm_identity</i>
                        <p class="d-lg-none d-md-block">
                            Account
                        </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-with-icons" aria-labelledby="navAccountMenuLink">
                        <a class="dropdown-item" href="@Url.Action("Profile", "Account")">
                            <i class="material-icons">face</i> View Profile
                        </a>
                        <a class="dropdown-item" href="@Url.Action("Transactions", "Account")">
                            <i class="material-icons">folder</i> My Transactions
                        </a>
                        <a class="dropdown-item" href="@Url.Action("ChangePassword", "Account")">
                            <i class="material-icons">lock</i> Change Password
                        </a>
                        <a class="dropdown-item" href="@Url.Action("Logout", "Account")" onclick="return confirm('@Constant.CONFIRMATION_LOGOUT')">
                            <i class="material-icons">exit_to_app</i> Sign out
                        </a>
                    </div>
                </li>
                <!-- your navbar here -->
            </ul>
        </div>
    </div>
</nav>
