﻿@model List<CRM_TripleTech.Models.AppNotification>
<a class="nav-link" href="javascript:void(0)" id="navNotificationLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="material-icons">notifications</i>
    @if (Model.Count > 0)
    {
        <span class="notification">@Model.Count</span>
    }
    <p class="d-lg-none d-md-block">
        Notifications
    </p>
</a>


<div class="dropdown-menu dropdown-menu-right dropdown-with-icons" aria-labelledby="navNotificationLink">
    @if (Model.Count > 0)
    {
        foreach (var item in Model)
        {
            <div class="card">
                <div class="card-header @item.Class">
                    @item.Header
                </div>
                <div class="card-body">
                    @foreach (var line in item.Body.Split('\n'))
                    {
                        <h6 class="card-text">@line</h6>
                    }
                </div>
            </div>
        }

        if (Model.Any(x => x.Class != "card-header-info"))
        {
            <a class="btn-link text-center" href="@Url.Action("Index", "Inventory")">
                Go to Products
            </a>
        }
    }
    else
    {
            <span class="dropdown-item">
                No Notifications
            </span>
    }
</div>