﻿<div class="sidebar" data-color="purple" data-background-color="black" data-image="/Content/Dashboard/css/img/sidebar-4.jpg">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
    <div class="logo">
        <a href="@Url.Action("Index", "Admin")" class="simple-text logo-normal">
            TripleTech
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Admin")">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapse" href="#ListSubMenu" data-toggle="collapse" aria-expanded="false">
                    <i class="material-icons">folder</i>
                    <p>
                        List
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="ListSubMenu">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "OrderList")">
                                <i class="material-icons">shopping_cart</i>
                                <span class="sidebar-normal">Orders</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "ServiceList")">
                                <i class="material-icons">directions_run</i>
                                <span class="sidebar-normal">Services</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "FeedbackList")">
                                <i class="material-icons">feedback</i>
                                <span class="sidebar-normal">Feedbacks</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "PurchaseList")">
                                <i class="material-icons">payment</i>
                                <span class="sidebar-normal">Purchases</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapse" href="#CatalogSubMenu" data-toggle="collapse" aria-expanded="false">
                    <i class="material-icons">work</i>
                    <p>
                        Catalog
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="CatalogSubMenu">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Inventory")">
                                <i class="material-icons">storage</i>
                                <span class="sidebar-normal">Products</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Category")">
                                <i class="material-icons">category</i>
                                <span class="sidebar-normal">Category</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Service")">
                                <i class="material-icons">directions_run</i>
                                <span class="sidebar-normal">Service</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Role")">
                                <i class="material-icons">verified_user</i>
                                <span class="sidebar-normal">Role</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Company")">
                                <i class="material-icons">group_work</i>
                                <span class="sidebar-normal">Company</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapse" href="#ProductionSubMenu" data-toggle="collapse" aria-expanded="false">
                    <i class="material-icons">inbox</i>
                    <p>
                        Transaction
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="ProductionSubMenu">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "OrderTran")">
                                <i class="material-icons">shopping_cart</i>
                                <span class="sidebar-normal">Orders</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "ServiceTran")">
                                <i class="material-icons">directions_run</i>
                                <span class="sidebar-normal">Services</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Feedback")">
                                <i class="material-icons">feedback</i>
                                <span class="sidebar-normal">Feedbacks</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "PurchaseOrder")">
                                <i class="material-icons">payment</i>
                                <span class="sidebar-normal">Purchases</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapse" href="#AdminSubMenu" data-toggle="collapse" aria-expanded="false">
                    <i class="material-icons">supervisor_account</i>
                    <p>
                        Admin
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="AdminSubMenu">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "User")">
                                <i class="material-icons">people</i>
                                <span class="sidebar-normal">Users</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "OrderTranPriority")">
                                <i class="material-icons">shopping_cart</i>
                                <span class="sidebar-normal">Order Priority</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "ServiceTranPriority")">
                                <i class="material-icons">directions_run</i>
                                <span class="sidebar-normal">Service Priority</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "FeedbackPriority")">
                                <i class="material-icons">feedback</i>
                                <span class="sidebar-normal">Feedback Priority</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Stock")">
                                <i class="material-icons">feedback</i>
                                <span class="sidebar-normal">Stock</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapse" href="#ReportsSubMenu" data-toggle="collapse" aria-expanded="false">
                    <i class="material-icons">inbox</i>
                    <p>
                        Reports
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="ReportsSubMenu">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("PurchaseOrder", "Reports")">
                                <i class="material-icons">payment</i>
                                <span class="sidebar-normal">Purchase Order</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("SalesOrder", "Reports")">
                                <i class="material-icons">shopping_cart</i>
                                <span class="sidebar-normal">Sales Order</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("StatementOfAccount", "Reports")">
                                <i class="material-icons">shopping_cart</i>
                                <span class="sidebar-normal">Statement Of Account</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("SupplierList", "Reports")">
                                <i class="material-icons">airport_shuttle</i>
                                <span class="sidebar-normal">Supplier List</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("InventorySummary", "Reports")">
                                <i class="material-icons">storage</i>
                                <span class="sidebar-normal">Inventory Summary</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("ScheduleSummary", "Reports")">
                                <i class="material-icons">calendar_today</i>
                                <span class="sidebar-normal">Schedule Summary</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <!-- your sidebar here -->
        </ul>
    </div>
</div>
