﻿@using CRM_TripleTech.Models.DAL
@using CRM_TripleTech.Models
@*<nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">*@
<nav class="navbar bg-dark fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="#">TripleTech International Corporation</a>
            <buton class="navbar-toggler" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </buton>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="@Url.Action("Index", "Home")">
                        <i class="material-icons">home</i> Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="@Url.Action("Index","Products")#mainBody">
                        <i class="material-icons">store</i> Products
                    </a>
                </li>
                @if (StaticMethods.HasActiveOrderTransaction(StaticMethods.TryParseObjToInt(Session["UserID"])))
    {
            <li class="nav-item">
                <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="@Url.Action("Index", "Cart")">
                    <i class="material-icons">shopping_cart</i> Your Cart (@StaticMethods.GetActiveItems(StaticMethods.TryParseObjToInt(Session["UserID"])))
                </a>
            </li>
}
                @if (StaticMethods.HasAdminAccess(StaticMethods.TryParseObjToInt(Session["RoleID"])))
    {
            <li class="nav-item">
                <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="@Url.Action("Index", "Admin")">
                    <i class="material-icons">supervised_user_circle</i> Administration
                </a>
            </li>
}

                @if (StaticMethods.TryParseObjToInt(Session["UserID"]) != Constant.NO_USER_ID)
    {

            @Html.Action("GetAccountNavbarNotification", "Account")

            <li class="dropdown nav-item">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                    <i class="material-icons">perm_identity</i> Account
                </a>
                <div class="dropdown-menu dropdown-with-icons">
                    <a href="@Url.Action("Profile", "Account")" class="dropdown-item">
                        <i class="material-icons">face</i> View Profile
                    </a>
                    <a href="@Url.Action("Transactions", "Account")" class="dropdown-item">
                        <i class="material-icons">folder</i> My Transactions
                    </a>
                    <a href="@Url.Action("ChangePassword", "Account")" class="dropdown-item">
                        <i class="material-icons">lock</i> Change Password
                    </a>
                    <a href="@Url.Action("Logout","Account")" onclick="return confirm('@Constant.CONFIRMATION_LOGOUT')" class="dropdown-item">
                        <i class="material-icons">exit_to_app</i> Sign Out
                    </a>
                </div>
            </li>
}
else
{
            <li class="dropdown nav-item">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                    <i class="material-icons">perm_identity</i> Account
                </a>
                <div class="dropdown-menu dropdown-with-icons">
                    <a href="@Url.Action("Index", "Account")" class="dropdown-item">
                        <i class="material-icons">person</i> Sign In
                    </a>
                    <a href="@Url.Action("Register","Account")" class="dropdown-item">
                        <i class="material-icons">person_add</i> Register
                    </a>
                </div>
            </li>
            @*<li class="nav-item">
        <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="@Url.Action("Index","Account")">
            <i class="material-icons">perm_identity</i> Sign In
        </a>
    </li>*@
}

            </ul>
        </div>
    </div>
</nav>
