﻿<!DOCTYPE html>

<html>
<head>
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <title>TripleTech - @ViewBag.Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- Material Kit CSS -->
    <link href="~/Content/Kit/material-kit.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    @*<script src="~/Scripts/bootstrap.min.js"></script>*@
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</head>
<body>
    @Html.Partial("_HomeNavigation")
    <div class="page-header header-filter" data-parallax="true" style="background-image: url('../../Content/Kit/img/profile_city.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="title">We are manufacturer’s representative...</h1>
                    <h4>TRIPLETECH INTERNATIONAL CORPORATION, partners with the most reputable manufacturers in the world, to produce and satisfy the needs and requirements of the local market.</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="main main-raised">
        @RenderBody()
    </div>
    <div class="row" id="divParamContent">
        <!-- Modals will go here -->
    </div>
    <div class="footer footer-default">
        @Html.Partial("_FooterMain")
    </div>

    <!-- Core JS Files -->
    <script src="~/Scripts/Kit/core/jquery.min.js"></script>
    <script src="~/Scripts/Kit/core/popper.min.js"></script>
    <script src="~/Scripts/Kit/core/bootstrap-material-design.min.js"></script>
    <script src="~/Scripts/Kit/plugins/moment.min.js"></script>

    <!-- Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
    <script src="~/Scripts/Kit/plugins/bootstrap-datetimepicker.js"></script>

    <!-- Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="~/Scripts/Kit/plugins/nouislider.min.js"></script>

    <!-- Plugin for Sharrre btn -->
    <script src="~/Scripts/Kit/plugins/jquery.sharrre.js"></script>

    <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
    <script src="~/Scripts/Kit/material-kit.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
