﻿@model CRM_TripleTech.Models.ViewModels.Category.CategoryAddViewModel

@Html.AntiForgeryToken()

<span class="text-danger">
    @Html.ValidationSummary()
</span>
<div class="row">
    <div class="col-md-12">
        <div class="form-group bmd-form-group">
            <label class="">Name</label>
            @Html.TextBoxFor(m => m.Name, htmlAttributes: new { @class = "form-control", @style = "color: black;" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group bmd-form-group">
            <label class="">Description</label>
            @Html.TextBoxFor(m => m.Description, htmlAttributes: new { @class = "form-control", @style = "color: black;" })
        </div>
    </div>
</div>

