﻿@model CRM_TripleTech.Models.ViewModels.Category.CategoryViewModel
@using CRM_TripleTech.Models
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="title">Search Filter</h4>
                <p class="category">Minimize selection of records by selecting a value</p>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Index", "Category"))
                {
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">ID</label>
                                @Html.TextBoxFor(m => m.ID, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Name</label>
                                @Html.TextBoxFor(m => m.Name, htmlAttributes: new { @class = "form-control" })
                            </div>
                            <button type="submit" class="btn btn-primary pull-right">
                                Search
                                <div class="ripple-container"></div>
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Category Table</h4>
            </div>
            <div class="card-body">
                <button class="btn btn-success" onclick="GetModal('@Constant.MODAL_ADD', '')"><i class="material-icons">control_point</i> Create New</button>
                <div class="table-responsive">
                    <table id="tblMain" class="table table-hover">
                        <thead class="text-primary">
                            <tr>
                                <th></th>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.lst_Main)
                {
                    <tr>
                        <td></td>
                        <td>@item.ID</td>
                        <td>@item.NAME</td>
                        <td class="td-actions">
                            <button class="btn btn-primary" onclick="GetModal('@Constant.MODAL_EDIT', '@item.ID')">
                                <i class="material-icons">mode_edit</i> View
                            </button>
                            <a href="@Url.Action("Delete", "Category", routeValues: new { id = item.ID })" class="btn btn-danger" onclick="return confirm('@Constant.CONFIRMATION_MESSAGE_DELETE')">
                                <i class="material-icons">delete_outline</i> Delete
                            </a>
                        </td>
                    </tr>
    }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="divParamContent">
    <!-- Modals will go here -->
</div>

@section scripts
{
<script>
    $(document).ready(function () {
        $('#tblMain').DataTable({
            'paging': true,
            'lengthChange': false,
            'searching': false,
            'ordering': true,
            'info': false,
            'autoWidth': true
        });
    });

    function GetModal(cont_value, id_value) {
        $.ajax({
            url: '@Url.Action("GetParamContent", "Category")',
            type: 'GET',
            data: {
                content: cont_value,
                id: id_value
            },
            success: function (data) {
                SetAdjustmentParamContent(data);

                //--> Toggle Modal
                var btnToggle = document.createElement("a");
                btnToggle.id = "btnToggle-modal";
                btnToggle.setAttribute("class", "btn btn-default btn-block");
                btnToggle.setAttribute("data-toggle", "modal");
                btnToggle.setAttribute("data-target", "#mainModal");
                btnToggle.style.display = "none";

                var parent = document.getElementById("divParamContent");
                parent.appendChild(btnToggle);

                btnToggle.click();
                parent.removeChild(btnToggle);
            }
        });
    }

    function SetAdjustmentParamContent(res) {
        $("#divParamContent").html('');
        $("#divParamContent").html(res.content);
    }
</script>
}

