﻿@model CRM_TripleTech.Models.ViewModels.Inventory.InventoryAddViewModel

@Html.AntiForgeryToken()
<span class="text-danger">
    @Html.ValidationSummary()
</span>
<div class="row">
    <div class="col-md-12">
        <div class="form-group bmd-form-group">
            <label class="">Category</label>
            @Html.DropDownListFor(m => m.CategoryID, Model.lst_Category, "-- Select an item --", htmlAttributes: new { @class = "form-control", @style = "color: black;" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group bmd-form-group">
            <label class="">Name</label>
            @Html.TextBoxFor(m => m.Name, htmlAttributes: new { @class = "form-control", @style = "color: black;" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group bmd-form-group">
            <label class="">Description</label>
            @Html.TextBoxFor(m => m.Description, htmlAttributes: new { @class = "form-control", @style = "color: black;" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group bmd-form-group">
            <label class="">Quantity</label>
            @Html.TextBoxFor(m => m.Quantity, htmlAttributes: new { @class = "form-control", @style = "color: black;" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group bmd-form-group">
            <label class="">Price</label>
            @Html.TextBoxFor(m => m.Price, htmlAttributes: new { @class = "form-control", @style = "color: black;" })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group bmd-form-group">
            <label class="">Image</label>
            <div class="btn btn-default">
                <input type="file" id="file" name="file" accept="image/*" />
                <span id="span_FileName">Please choose an Image.</span>
            </div>
        </div>
    </div>
</div>

