﻿@model CRM_TripleTech.Models.ViewModels.Product.ServiceSchedViewModel
<div class="modal fade" id="mainModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    @Model.Name
                    <br />
                    <small>Select a schedule</small>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="material-icons">clear</i>
                </button>
            </div>
            @using (Html.BeginForm("PuchaseService", "Products", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Id)
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group bmd-form-group">
                            <label class="">Location</label>
                            @Html.TextAreaFor(m => m.Location, htmlAttributes: new { @class = "form-control", @style = "color: black;" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group bmd-form-group">
                            <label class="">Select Schedule</label>
                            @Html.TextBoxFor(m => m.SchedDate, htmlAttributes: new { @class = "form-control datetimepicker", @style = "color: black;" })
                            <span class="bmd-help">System may automatically reschedule if date is not available</span>
                        </div>
                    </div>
                </div>
            </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-success" value="Purchase Service" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Close
                        <div class="ripple-container">
                            <div class="ripple-decorator ripple-on ripple-out" style="left: 26.5781px; top: 36.1641px; background-color: rgb(244, 67, 54); transform: scale(8.50976);"></div>
                            <div class="ripple-decorator ripple-on ripple-out" style="left: 26.5781px; top: 36.1641px; background-color: rgb(244, 67, 54); transform: scale(8.50976);"></div>
                        </div>
                    </button>
                </div>
            }
        </div>
    </div>
</div>


