﻿@model CRM_TripleTech.Models.ViewModels.Product.ProductViewModel
@using CRM_TripleTech.Models
@using CRM_TripleTech.Models.DAL
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="section section-tabs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-nav-tabs card-plain">
                    <div class="card-header card-header-danger">
                        <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#motors" data-toggle="tab">Motors</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#pumps" data-toggle="tab">Pumps</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#controllers" data-toggle="tab">Controllers</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#services" data-toggle="tab">Services</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="mainBody">
                        <div class="tab-content text-center">
                            <div class="tab-pane active" id="motors">
                                @if (Model.lst_Motor.Count == 0)
                                {
                                    <h3>No items available for this category.</h3>
                                }
                                else
                                {
                                    <div class="features text-center">
                                        <div class="row">
                                            @foreach (var item in Model.lst_Motor)
                                            {
                                                <div class="col-md-4">
                                                    <div class="info">
                                                        @if (StaticMethods.ProductFileExists("~/images/products/" + item.ID + ".jpg"))
                                                        {
                                                            var fileName = item.ID + ".jpg";
                                                            <img src="~/images/products/@fileName" alt="Raised Image" class="img-raised rounded img-fluid info-img" style="width: 300px; height: 300px;" />
                                                        }
                                                        else
                                                        {
                                                            <img src="~/Content/Kit/img/default_img/no_image_default.jpg" alt="Raised Image" class="img-raised rounded img-fluid info-img" style="width: 300px; height: 300px;" />
                                                        }

                                                        <h4 class="info-title" style="font-size: 13px;">@item.NAME</h4>
                                                        <p>Quantity Availale: @item.QUANTITY</p>
                                                        <p>Price: ₱ @item.PRICE</p>
                                                    </div>
                                                    @if (StaticMethods.TryParseObjToInt(Session["UserID"]).Value != Constant.NO_USER_ID)
                                                    {
                                                    <div class="row">
                                                        <div class="col-md-3 col-sm-3">
                                                            <div class="form-group has-default bmd-form-group">
                                                                <label>Quantity</label>
                                                                <input id="@item.ID" type="number" class="form-control" min="1" max="50" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-9 col-sm-9">
                                                            <div class="form-group has-default bmd-form-group">
                                                                <button onclick="AddToCart('@item.ID')" class="btn btn-success btn-sm">
                                                                    <i class="material-icons">add</i> Add to Cart
                                                                    <div class="ripple-container"></div>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    }
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="tab-pane" id="pumps">
                                @if (Model.lst_Pump.Count == 0)
                                {
                                    <h3>No items available for this category.</h3>
                                }
                                else
                                {
                                    <div class="features text-center">
                                        <div class="row">
                                            @foreach (var item in Model.lst_Pump)
                                            {
                                            <div class="col-md-4">
                                                <div class="info">
                                                    @if (StaticMethods.ProductFileExists("~/images/products/" + item.ID + ".jpg"))
        {
            var fileName = item.ID + ".jpg";
                                            <img src="~/images/products/@fileName" alt="Raised Image" class="img-raised rounded img-fluid info-img" style="width: 300px; height: 300px;" />
}
else
{
                                            <img src="~/Content/Kit/img/default_img/no_image_default.jpg" alt="Raised Image" class="img-raised rounded img-fluid info-img" style="width: 300px; height: 300px;" />
}
                                                    <h4 class="info-title" style="font-size: 13px;">@item.NAME</h4>
                                                    <p>Quantity Availale: @item.QUANTITY</p>
                                                    <p>Price: ₱ @item.PRICE</p>
                                                </div>
                                                @if (StaticMethods.TryParseObjToInt(Session["UserID"]).Value != Constant.NO_USER_ID)
                                                {
                                            <div class="row">
                                                <div class="col-md-3 col-sm-3">
                                                    <div class="form-group has-default bmd-form-group pull-left">
                                                        <label>Quantity</label>
                                                        <input id="@item.ID" type="number" class="form-control" min="1" max="5" />
                                                    </div>
                                                </div>
                                                <div class="col-md-9 col-sm-9">
                                                    <div class="form-group has-default bmd-form-group pull-right">
                                                        <button onclick="AddToCart('@item.ID')" class="btn btn-success btn-sm">
                                                            <i class="material-icons">add</i> Add to Cart
                                                            <div class="ripple-container"></div>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                                }
                                            </div>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="tab-pane" id="controllers">
                                @if (Model.lst_Controller.Count == 0)
                                {
                                    <h3>No items available for this category.</h3>
                                }
                                else
                                {
                                    <div class="features text-center">
                                        <div class="row">
                                            @foreach (var item in Model.lst_Controller)
                                            {
                                            <div class="col-md-4">
                                                <div class="info">
                                                    @if (StaticMethods.ProductFileExists("~/images/products/" + item.ID + ".jpg"))
        {
            var fileName = item.ID + ".jpg";
                                            <img src="~/images/products/@fileName" alt="Raised Image" class="img-raised rounded img-fluid info-img" style="width: 300px; height: 300px;" />
}
else
{
                                            <img src="~/Content/Kit/img/default_img/no_image_default.jpg" alt="Raised Image" class="img-raised rounded img-fluid info-img" style="width: 300px; height: 300px;" />
}
                                                    <h4 class="info-title" style="font-size: 13px;">@item.NAME</h4>
                                                    <p>Quantity Availale: @item.QUANTITY</p>
                                                    <p>Price: ₱ @item.PRICE</p>
                                                </div>
                                                @if (StaticMethods.TryParseObjToInt(Session["UserID"]).Value != Constant.NO_USER_ID)
                                                {
                                            <div class="row">
                                                <div class="col-md-3 col-sm-3">
                                                    <div class="form-group has-default bmd-form-group pull-left">
                                                        <label>Quantity</label>
                                                        <input id="@item.ID" type="number" class="form-control" min="1" max="5" />
                                                    </div>
                                                </div>
                                                <div class="col-md-9 col-sm-9">
                                                    <div class="form-group has-default bmd-form-group">
                                                        <button onclick="AddToCart('@item.ID')" class="btn btn-success btn-sm pull-right">
                                                            <i class="material-icons">add</i> Add to Cart
                                                            <div class="ripple-container"></div>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                                }
                                            </div>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="tab-pane" id="services">
                                @if (Model.lst_Service.Count == 0)
                                {
                                    <h3>No items available for this category.</h3>
                                }
                                else
                                {
                                    <div class="features">
                                        <div class="row">

                                            <div class="table-responsive">
                                                <table class="table" id="tblMain">
                                                    <thead>
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>Description</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model.lst_Service)
                                                        {
                                                            <tr>
                                                                <td class="td-name">
                                                                    @item.NAME
                                                                </td>
                                                                <td>@item.DESCRIPTION</td>
                                                                <td class="td-actions">
                                                                    <a href="#" onclick="GetModal('@Constant.MODAL_SCHED', '@item.ID')" rel="tooltip" title="Order" class="btn btn-info">
                                                                        <i class="material-icons"></i> Select Schedule
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
    $(document).ready(function () {

        $('#tblMain').DataTable({
            'paging': true,
            'lengthChange': false,
            'searching': false,
            'ordering': true,
            'info': false,
            'autoWidth': true
        });
    });

        function AddToCart(id)
        {
            $.ajax({
                url: '@Url.Action("AddToCart", "Products")',
                type: 'GET',
                data: {
                    id: id,
                    quantity: document.getElementById(id).value
                },
                success: function (data) {
                    alert(data.message);
                }
            });
    }

    function GetModal(cont_value, id_value) {
            $.ajax({
                url: '@Url.Action("GetParamContent", "Products")',
                type: 'GET',
                data: {
                    content: cont_value,
                    id: id_value
                },
                success: function (data) {
                    SetAdjustmentParamContent(data);

                    //--> Toggle Modal
                    var btnToggle = document.createElement("a");
                    btnToggle.id = "btnToggle-modal";
                    btnToggle.setAttribute("class", "btn btn-default btn-block");
                    btnToggle.setAttribute("data-toggle", "modal");
                    btnToggle.setAttribute("data-target", "#mainModal");
                    btnToggle.style.display = "none";

                    var parent = document.getElementById("divParamContent");
                    parent.appendChild(btnToggle);

                    btnToggle.click();
                    parent.removeChild(btnToggle);

                    //init DateTimePickers
                    materialKit.initFormExtendedDatetimepickers();
                }
            });
        }

        function SetAdjustmentParamContent(res) {
            $("#divParamContent").html('');
            $("#divParamContent").html(res.content);
        }
    </script>

}