﻿@model CRM_TripleTech.Models.ViewModels.Cart.CartLocationViewModel
<div class="modal fade" id="mainModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delivery Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="material-icons">clear</i>
                </button>
            </div>
            @using (Html.BeginForm("OrderItems", "Cart", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.OrderTranId)
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group bmd-form-group">
                            <label class="">@Html.DisplayNameFor(m => m.UnitRmNoFloor)</label>
                            @Html.TextBoxFor(m => m.UnitRmNoFloor, htmlAttributes: new { @class = "form-control", @style = "color: black;" })
                            @Html.ValidationMessageFor(m => m.UnitRmNoFloor, "", htmlAttributes: new { @class = "text-danger", @style = "margin-top: 0;font-size: 0.75rem;" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group bmd-form-group">
                            <label class="">@Html.DisplayNameFor(m => m.BldgName)</label>
                            @Html.TextBoxFor(m => m.BldgName, htmlAttributes: new { @class = "form-control", @style = "color: black;" })
                            @Html.ValidationMessageFor(m => m.BldgName, "", htmlAttributes: new { @class = "text-danger", @style = "margin-top: 0;font-size: 0.75rem;" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group bmd-form-group">
                            <label class="">@Html.DisplayNameFor(m => m.LotNoBlockNoPhaseNoHouseNo)</label>
                            @Html.TextBoxFor(m => m.LotNoBlockNoPhaseNoHouseNo, htmlAttributes: new { @class = "form-control", @style = "color: black;" })
                            @Html.ValidationMessageFor(m => m.LotNoBlockNoPhaseNoHouseNo, "", htmlAttributes: new { @class = "text-danger", @style = "margin-top: 0;font-size: 0.75rem;" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group bmd-form-group">
                            <label class="">@Html.DisplayNameFor(m => m.Street)</label>
                            @Html.TextBoxFor(m => m.Street, htmlAttributes: new { @class = "form-control", @style = "color: black;" })
                            @Html.ValidationMessageFor(m => m.Street, "", htmlAttributes: new { @class = "text-danger", @style = "margin-top: 0;font-size: 0.75rem;" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group bmd-form-group">
                            <label class="">@Html.DisplayNameFor(m => m.Subdivision)</label>
                            @Html.TextBoxFor(m => m.Subdivision, htmlAttributes: new { @class = "form-control", @style = "color: black;" })
                            @Html.ValidationMessageFor(m => m.Subdivision, "", htmlAttributes: new { @class = "text-danger", @style = "margin-top: 0;font-size: 0.75rem;" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group bmd-form-group">
                            <label class="">@Html.DisplayNameFor(m => m.Barangay)</label>
                            @Html.TextBoxFor(m => m.Barangay, htmlAttributes: new { @class = "form-control", @style = "color: black;" })
                            @Html.ValidationMessageFor(m => m.Barangay, "", htmlAttributes: new { @class = "text-danger", @style = "margin-top: 0;font-size: 0.75rem;" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group bmd-form-group">
                            <label class="">@Html.DisplayNameFor(m => m.MunicipalityCity)</label>
                            @Html.TextBoxFor(m => m.MunicipalityCity, htmlAttributes: new { @class = "form-control", @style = "color: black;" })
                            @Html.ValidationMessageFor(m => m.MunicipalityCity, "", htmlAttributes: new { @class = "text-danger", @style = "margin-top: 0;font-size: 0.75rem;" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group bmd-form-group">
                            <label class="">@Html.DisplayNameFor(m => m.ProvinceState)</label>
                            @Html.TextBoxFor(m => m.ProvinceState, htmlAttributes: new { @class = "form-control", @style = "color: black;" })
                            @Html.ValidationMessageFor(m => m.ProvinceState, "", htmlAttributes: new { @class = "text-danger", @style = "margin-top: 0;font-size: 0.75rem;" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group bmd-form-group">
                            <label class="">@Html.DisplayNameFor(m => m.ZipCode)</label>
                            @Html.TextBoxFor(m => m.ZipCode, htmlAttributes: new { @class = "form-control", @style = "color: black;" })
                            @Html.ValidationMessageFor(m => m.ZipCode, "", htmlAttributes: new { @class = "text-danger", @style = "margin-top: 0;font-size: 0.75rem;" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group bmd-form-group">
                            <label class="">Schedule Delivery</label>
                            @Html.TextBoxFor(m => m.ScheduleDelivery, htmlAttributes: new { @class = "form-control datetimepicker", @style = "color: black;" })
                            <span class="bmd-help">System may automatically reschedule if date is not available</span>
                        </div>
                    </div>
                </div>
            </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-success" value="Save" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Close
                        <div class="ripple-container">
                            <div class="ripple-decorator ripple-on ripple-out" style="left: 26.5781px; top: 36.1641px; background-color: rgb(244, 67, 54); transform: scale(8.50976);"></div>
                            <div class="ripple-decorator ripple-on ripple-out" style="left: 26.5781px; top: 36.1641px; background-color: rgb(244, 67, 54); transform: scale(8.50976);"></div>
                        </div>
                    </button>
                </div>
            }
        </div>
    </div>
</div>


