﻿@model IEnumerable<CRM_TripleTech.Models.ViewModels.Cart.CartViewModel>
@using CRM_TripleTech.Models
@using CRM_TripleTech.Models.DAL
@using CRM_TripleTech.Models.ViewModels.Cart
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

    <div class="container">
        <div class="card card-plain">
            <div class="card-body">
                <h3 class="card-title">Shopping Cart</h3>
                <br>
                <div class="table-responsive">
                    <table class="table table-shopping" id="tblMain">
                        <thead>
                            <tr>
                                <th class="text-center"></th>
                                <th>Name</th>
                                <th class="th-description">Category</th>
                                <th class="text-right" style="width: 100px;">Price</th>
                                <th class="text-right">Quantity</th>
                                <th class="text-right">Amount</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <div class="img-container">
                                            @if (StaticMethods.ProductFileExists("~/images/products/" + item.InventoryId + ".jpg"))
    {
        var fileName = item.InventoryId + ".jpg";
                                        <img src="~/images/products/@fileName" alt="Raised Image" class="img-raised img-fluid info-img" style="width: 300px; height: 300px;">
}
else
{
                                        <img src="~/Content/Kit/img/default_img/no_image_default.jpg" alt="Raised Image" class="img-raised img-fluid info-img" style="width: 300px; height: 300px;">
}
                                        </div>
                                    </td>
                                    <td class="td-name">
                                        @item.Name
                                    </td>
                                    <td>@item.CategoryName</td>
                                    <td class="td-number text-right">
                                        <small>₱</small> @item.Price
                                    </td>
                                    <td class="td-number">
                                        @item.Quantity
                                    </td>
                                    <td class="td-number">
                                        <small>₱</small> @item.Amount
                                    </td>
                                    <td class="">
                                        <button type="button" rel="tooltip" data-placement="left" title="" class="btn btn-link" data-original-title="Remove item" onclick="RemoveItem(this.parentElement.parentElement, '@item.Id')">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td colspan="3"></td>
                                <td class="td-total">
                                    Total
                                </td>
                                <td colspan="1" class="td-price">
                                    <small>₱</small> @Model.Sum(m => m.Amount)
                                </td>
                                <td colspan="1"></td>
                                <td colspan="2" class="text-right">
                                    @if (StaticMethods.HasAdminAccess(StaticMethods.TryParseObjToInt(Session["RoleID"])))
                                    {
                                        <a href="@Url.Action("OrderItems", "Cart", routeValues: new { @model = new CartLocationViewModel(), @id = Model.FirstOrDefault().OrderTranId})" class="btn btn-info btn-round btn-sm">
                                            Complete Purchase
                                            <i class="material-icons">keyboard_arrow_right</i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="#" class="btn btn-info btn-round btn-sm" onclick="GetModal('@Constant.MODAL_CART', '@Model.FirstOrDefault().OrderTranId')">
                                            Complete Purchase
                                            <i class="material-icons">keyboard_arrow_right</i>
                                        </a>
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    @section scripts
{
    <script>
            function RemoveItem(row, id) {
                $.ajax({
                url: '@Url.Action("RemoveItemFromCart", "Cart")',
                type: 'GET',
                data: {
                    id: id
                },
                success: function (data) {
                    var Parent = row.parentElement;
                    Parent.removeChild(row);

                    alert(data.message)
                }
            });
            }

        function GetModal(cont_value, id_value) {
            $.ajax({
                url: '@Url.Action("GetParamContent", "Cart")',
                type: 'GET',
                data: {
                    content: cont_value,
                    id: id_value
                },
                success: function (data) {
                    SetAdjustmentParamContent(data);

                    //--> Toggle Modal
                    var btnToggle = document.createElement("a");
                    btnToggle.id = "btnToggle-modal";
                    btnToggle.setAttribute("class", "btn btn-default btn-block");
                    btnToggle.setAttribute("data-toggle", "modal");
                    btnToggle.setAttribute("data-target", "#mainModal");
                    btnToggle.style.display = "none";

                    var parent = document.getElementById("divParamContent");
                    parent.appendChild(btnToggle);

                    btnToggle.click();
                    parent.removeChild(btnToggle);

                    //init DateTimePickers
                    materialKit.initFormExtendedDatetimepickers();
                }
            });
        }

        function SetAdjustmentParamContent(res) {
            $("#divParamContent").html('');
            $("#divParamContent").html(res.content);
        }
    </script>
    }

