﻿@model IEnumerable<CRM_TripleTech.Models.ViewModels.Report.InventoryReportViewModel>
@{
    ViewBag.Title = "Inventory Summary";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Inventory Summary Report</h4>
            </div>
            <div class="card-body">
                <div id="Grid" class="table-responsive">
                    <table id="tblMain" class="table table-hover">
                        <thead class="text-primary">
                            <tr>
                                <th style="width:auto;border: 1px solid #ccc">No</th>
                                <th style="width:auto;border: 1px solid #ccc">Name</th>
                                <th style="width:auto;border: 1px solid #ccc">Category</th>
                                <th style="width:auto;border: 1px solid #ccc">Stock Quantity</th>
                                @*<th style="width:auto;border: 1px solid #ccc">Shipped</th>
                                <th style="width:auto;border: 1px solid #ccc">Sold</th>*@
                                <th style="width:auto;border: 1px solid #ccc">Total Cost</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td style="width:auto;border: 1px solid #ccc">@item.InventoryID</td>
                                    <td style="width:auto;border: 1px solid #ccc">@item.Name</td>
                                    <td style="width:auto;border: 1px solid #ccc">@item.Category</td>
                                    <td style="width:auto;border: 1px solid #ccc">@item.StockQuantity</td>
                                    @*<td style="width:auto;border: 1px solid #ccc">@item.ShippedQuantity</td>
                                    <td style="width:auto;border: 1px solid #ccc">@item.SoldQuantity</td>*@
                                    <td style="width:auto;border: 1px solid #ccc">₱ @item.TotalCost</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <a class="btn btn-primary" href="@Url.Action("ExportOrder", "Reports", routeValues: new { @type = "5"})">Generate Report</a>
            </div>
        </div>
    </div>
</div>