﻿@model IEnumerable<CRM_TripleTech.Models.ViewModels.Report.SalesOrderReportViewModel>
@{
    ViewBag.Title = "Sales Order";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Sales Order Report</h4>
            </div>
            <div class="card-body">
                <div id="Grid" class="table-responsive">
                    <table id="tblMain" class="table table-hover">
                        <thead class="text-primary">
                            <tr>
                                <th style="width:auto;border: 1px solid #ccc">SO #</th>
                                <th style="width:auto;border: 1px solid #ccc">Customer Name</th>
                                <th style="width:auto;border: 1px solid #ccc">Company</th>
                                <th style="width:auto;border: 1px solid #ccc">Order Date</th>
                                <th style="width:auto;border: 1px solid #ccc">Sales Person</th>
                                <th style="width:auto;border: 1px solid #ccc">Pay Code</th>
                                <th style="width:auto;border: 1px solid #ccc">Sales Tax</th>
                                <th style="width:auto;border: 1px solid #ccc">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td style="width:auto;border: 1px solid #ccc">@item.SalesOrderID</td>
                                    <td style="width:auto;border: 1px solid #ccc">@item.CustomerName</td>
                                    <td style="width:auto;border: 1px solid #ccc">@item.CompanyName</td>
                                    <td style="width:auto;border: 1px solid #ccc">@item.DateOrdered</td>
                                    <td style="width:auto;border: 1px solid #ccc">@item.SalesPerson</td>
                                    <td style="width:auto;border: 1px solid #ccc">@item.PayCode</td>
                                    <td style="width:auto;border: 1px solid #ccc">@item.SalesTax</td>
                                    <td style="width:auto;border: 1px solid #ccc">@item.Amount</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <a class="btn btn-primary" href="@Url.Action("ExportOrder", "Reports", routeValues: new { @type = "2"})">Generate Report</a>
            </div>
        </div>
    </div>
</div>
