﻿@model IEnumerable<CRM_TripleTech.Models.ViewModels.Report.ScheduleReportViewModel>
@{
    ViewBag.Title = "Schedule Summary";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Purchase Order Report</h4>
            </div>
            <div class="card-body">
                <div id="Grid" class="table-responsive">
                    <table id="tblMain" class="table table-hover">
                        <thead class="text-primary">
                            <tr>
                                <th style="width:auto;border: 1px solid #ccc">No</th>
                                <th style="width:auto;border: 1px solid #ccc">Service</th>
                                <th style="width:auto;border: 1px solid #ccc">Client</th>
                                <th style="width:auto;border: 1px solid #ccc">Company</th>
                                <th style="width:auto;border: 1px solid #ccc">Assigned</th>
                                <th style="width:auto;border: 1px solid #ccc">Date Schedule</th>
                                <th style="width:auto;border: 1px solid #ccc">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td style="width:auto;border: 1px solid #ccc">@item.ID</td>
                                    <td style="width:auto;border: 1px solid #ccc">@item.Name</td>
                                    <td style="width:auto;border: 1px solid #ccc">@item.Client</td>
                                    <td style="width:auto;border: 1px solid #ccc">@item.Company</td>
                                    <td style="width:auto;border: 1px solid #ccc">@item.Assigned</td>
                                    <td style="width:auto;border: 1px solid #ccc">@item.DateScheduled</td>
                                    <td style="width:auto;border: 1px solid #ccc">@item.Status</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <a class="btn btn-primary" href="@Url.Action("ExportOrder", "Reports", routeValues: new { @type = "6"})">Generate Report</a>
            </div>
        </div>
    </div>
</div>

