﻿@model IEnumerable<CRM_TripleTech.Models.ViewModels.Report.OrderListStatementOfAccReportViewModel>
@using CRM_TripleTech.Models
@{
    ViewBag.Title = "Statement Of Account";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Orders Table</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tblMain" class="table table-hover">
                        <thead class="text-primary">
                            <tr>
                                <th></th>
                                <th>ID</th>
                                <th>Customer</th>
                                <th>Priority</th>
                                <th>Location</th>
                                <th>Status</th>
                                <th>Total Price</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td></td>
                                    <td><a href="@Url.Action("Details", "OrderTran", routeValues: new { @id = item.Id})">@item.Id</a></td>
                                    <td>
                                        @item.CustomerName
                                        <br />
                                        <small>@item.Company</small>
                                    </td>
                                    <td>
                                        @if (item.PriorityLevel == Constant.PRIORITY_LEVEL_HIGH)
                                        {<span class="text-danger">@item.PriorityLevel</span> }
                                        else if (item.PriorityLevel == Constant.PRIORITY_LEVEL_MED)
                                        { <span class="text-warning">@item.PriorityLevel</span> }
                                        else
                                        { <span class="text-success">@item.PriorityLevel</span>}
                                    </td>
                                    <td>@item.Location</td>
                                    <td>
                                        @if (item.Status == Constant.ORDERTRAN_STATUS_ACTIVE)
                                        {<span class="badge badge-pill badge-secondary">@item.Status</span> }
                                        else if (item.Status == Constant.ORDERTRAN_STATUS_PROCESSING)
                                        { <span class="badge badge-pill badge-info">@item.Status</span> }
                                        else if (item.Status == Constant.ORDERTRAN_STATUS_SHIPPING)
                                        { <span class="badge badge-pill badge-info">@item.Status</span>}
                                        else if (item.Status == Constant.ORDERTRAN_STATUS_COMPLETED)
                                        { <span class="badge badge-pill badge-success">@item.Status</span>}
                                        else if (item.Status == Constant.ORDERTRAN_STATUS_CANCELLED)
                                        { <span class="badge badge-pill badge-danger">@item.Status</span>}
                                    </td>
                                    <td>₱ @item.TotalPrice</td>
                                    <td><a class="btn btn-primary" href="@Url.Action("ExportOrder", "Reports", routeValues: new { @type = "3", @orderId = item.Id})">Generate SOA</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#tblMain').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': false,
                'autoWidth': true
            });
        });</script>
}

