﻿@model IEnumerable<CRM_TripleTech.Models.ViewModels.Report.SupplierReportViewModel>
@{
    ViewBag.Title = "Supplier List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Supplier List Report</h4>
            </div>
            <div class="card-body">
                <div id="Grid" class="table-responsive">
                    <table id="tblMain" class="table table-hover">
                        <thead class="text-primary">
                            <tr>
                                <th style="width:auto;border: 1px solid #ccc">Supplier Code</th>
                                <th style="width:auto;border: 1px solid #ccc">Name</th>
                                <th style="width:auto;border: 1px solid #ccc">Address</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td style="width:auto;border: 1px solid #ccc">@item.SupplierCode</td>
                                    <td style="width:auto;border: 1px solid #ccc">@item.Name</td>
                                    <td style="width:auto;border: 1px solid #ccc">@item.Address</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <a class="btn btn-primary" href="@Url.Action("ExportOrder", "Reports", routeValues: new { @type = "4"})">Generate Report</a>
            </div>
        </div>
    </div>
</div>
