﻿@model CRM_TripleTech.Models.ViewModels.Company.CompanyEditViewModel
@Html.AntiForgeryToken()
@Html.HiddenFor(m => m.Id)
<span class="text-danger">
    @Html.ValidationSummary()
</span>
<div class="row">
    <div class="col-md-12">
        <div class="form-group bmd-form-group">
            <label class="">Type</label>
            @Html.DropDownListFor(m => m.Type, Model.lst_Type, "-- Select an item --", htmlAttributes: new { @class = "form-control", @style = "color: black;" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group bmd-form-group">
            <label class="">Code</label>
            @Html.TextBoxFor(m => m.Code, htmlAttributes: new { @class = "form-control", @style = "color: black;" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group bmd-form-group">
            <label class="">Name</label>
            @Html.TextBoxFor(m => m.Name, htmlAttributes: new { @class = "form-control", @style = "color: black;" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group bmd-form-group">
            <label class="">Description</label>
            @Html.TextBoxFor(m => m.Description, htmlAttributes: new { @class = "form-control", @style = "color: black;" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group bmd-form-group">
            <label class="">Address</label>
            @Html.TextBoxFor(m => m.Address, htmlAttributes: new { @class = "form-control", @style = "color: black;" })
        </div>
    </div>
</div>
