﻿<div class="modal fade" id="mainModal" tabindex="-1" Company="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" Company="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Company Details</h5>
                @*<div class="modal-dialog">
                        <p>Last Updated: @Model.DateUpdated.Value.ToShortDateString()</p>

                        <p>Updated By: @Model.LastUpdatedBy</p>
                    </div>*@
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="material-icons">clear</i>
                </button>
            </div>
            @using (Ajax.BeginForm("Edit", "Company", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "frmMain" }))
            {
            <div class="modal-body" id="frmMain">
                @Html.Partial("_Edit")
            </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-success" value="Save" />
                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                        Close
                        <div class="ripple-container">
                            <div class="ripple-decorator ripple-on ripple-out" style="left: 26.5781px; top: 36.1641px; background-color: rgb(244, 67, 54); transform: scale(8.50976);"></div>
                            <div class="ripple-decorator ripple-on ripple-out" style="left: 26.5781px; top: 36.1641px; background-color: rgb(244, 67, 54); transform: scale(8.50976);"></div>
                        </div>
                    </button>
                </div>
            }
        </div>
    </div>
</div>
