﻿@model CRM_TripleTech.Models.ViewModels.Stock.StockReplenishViewModel
@Html.AntiForgeryToken()
<span class="text-danger">
    @Html.ValidationSummary()
</span>
@Html.HiddenFor(m => m.InventoryID)
<div class="row">
    <div class="col-md-12">
        <div class="form-group bmd-form-group">
            <label class="">Quantity</label>
            @Html.TextBoxFor(m => m.Quantity, htmlAttributes: new { @class = "form-control", @style = "color: black;" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group bmd-form-group">
            <label class="">Company</label>
            @Html.DropDownListFor(m => m.Company_ID, Model.lst_Company, "-- Select an item --", htmlAttributes: new { @class = "form-control", @style = "color: black;" })
        </div>
    </div>
</div>

