﻿@model CRM_TripleTech.Models.ViewModels.Inventory.InventoryViewModel
@using CRM_TripleTech.Models
@using CRM_TripleTech.Models.DAL
@{
    ViewBag.Title = "Stocks";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="title">Search Filter</h4>
                <p class="category">Minimize selection of records by selecting a value</p>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Index", "Stock"))
                {
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">ID</label>
                                @Html.TextBoxFor(m => m.ID, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Name</label>
                                @Html.TextBoxFor(m => m.Name, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Category</label>
                                @Html.DropDownListFor(m => m.CategoryID, Model.drp_Category, "-- Select an item --", htmlAttributes: new { @class = "form-control" })
                            </div>
                            <button type="submit" class="btn btn-primary pull-right">
                                Search
                                <div class="ripple-container"></div>
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Inventory Table</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tblMain" class="table table-hover">
                        <thead class="text-primary">
                            <tr>
                                <th>ID</th>
                                <th>Category</th>
                                <th>Name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.lst_Main)
                            {
                                <tr>
                                    <td>@item.ID</td>
                                    <td>@item.CATEGORY.NAME</td>
                                    <td>@item.NAME</td>
                                    <td>@item.QUANTITY</td>
                                    <td>@item.PRICE</td>
                                    <td class="td-actions">
                                        <button class="btn btn-primary" onclick="GetModal('@Constant.MODAL_REPLENISH', '@item.ID')">
                                            <i class="material-icons">mode_edit</i> Replenish
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="divParamContent">
    <!-- Modals will go here -->
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#tblMain').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': false,
                'autoWidth': true
            });
        });

        function GetModal(cont_value, id_value) {
            $.ajax({
                url: '@Url.Action("GetParamContent", "Stock")',
                type: 'GET',
                data: {
                    content: cont_value,
                    id: id_value
                },
                success: function (data) {
                    SetAdjustmentParamContent(data);

                    //--> Toggle Modal
                    var btnToggle = document.createElement("a");
                    btnToggle.id = "btnToggle-modal";
                    btnToggle.setAttribute("class", "btn btn-default btn-block");
                    btnToggle.setAttribute("data-toggle", "modal");
                    btnToggle.setAttribute("data-target", "#mainModal");
                    btnToggle.style.display = "none";

                    var parent = document.getElementById("divParamContent");
                    parent.appendChild(btnToggle);

                    btnToggle.click();
                    parent.removeChild(btnToggle);
                }
            });
        }

        function SetAdjustmentParamContent(res) {
            $("#divParamContent").html('');
            $("#divParamContent").html(res.content);
        }
    </script>
}
