﻿@model CRM_TripleTech.Models.ViewModels.Feedback.ClientFeedbackViewModel

<div class="section section-contacts">
    <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
            <h2 class="text-center title">Feedback</h2>
            <h4 class="text-center description">
                We strive to bring the best products and services to
                our clients and consumers in the Philippines through its quality, performance,
                and excellent services. We welcome your feedback on our products.
            </h4>
            @using (Html.BeginForm("ClientFeedback", "Feedback", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="bmd-label-floating">Full Name</label>
                    @Html.TextBoxFor(m => m.Name, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name, "", htmlAttributes: new { @class = "text-danger", @style = "margin-top: 0;font-size: 0.75rem;" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="bmd-label-floating">Subject</label>
                    @Html.TextBoxFor(m => m.Subject, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Subject, "", htmlAttributes: new { @class = "text-danger", @style = "margin-top: 0;font-size: 0.75rem;" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleMessage" class="bmd-label-floating">Enter Message...</label>
            @Html.TextAreaFor(m => m.Message, htmlAttributes: new { @class = "form-control", @rows = "4" })
            @Html.ValidationMessageFor(m => m.Message, "", htmlAttributes: new { @class = "text-danger", @style = "margin-top: 0;font-size: 0.75rem;" })
        </div>
        <div class="row">
            <div class="col-md-4 ml-auto mr-auto text-center">
                <input type="submit" class="btn btn-primary btn-raised" value="Send Message" />
            </div>
        </div>
}
        </div>
    </div>
</div>
