﻿@using CRM_TripleTech.Models.DAL
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="section text-center">
    <!-- Carousel  -->
    @Html.Partial("_HomeCarousel")
    <!-- End Carousel -->
    <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
            <h2 class="title">Let's talk about our product</h2>
            <h5 class="description">
                We provide good quality & extensive after sales-service support exceeding customer's expectation and satisfaction.
                We are committed to service excellence & to be the PRIME DISTRIBUTOR of quality pumps in the Philippines.
            </h5>
        </div>
    </div>
    <div class="features">
        <div class="row">
            <div class="col-md-4 ml-auto">
                <div class="info">
                    <img src="~/Content/Kit/img/banner_motor.jpg" alt="Raised Image" class="img-raised rounded img-fluid" style="width: 300px; height: 300px;">
                    <h4 class="info-title">Motors</h4>
                    <p>Is a electrical device which converts electrical energy into mechanical energy. Pump is driven by motor only.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <img src="~/Content/Kit/img/banner_pump.jpg" alt="Raised Image" class="img-raised rounded img-fluid" style="width: 300px; height: 300px;">
                    <h4 class="info-title">Pumps</h4>
                    <p>Is a mechanical device which converts mechanical energy into work to be done. Pump is driven by motor only.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <img src="~/Content/Kit/img/banner_controllers.jpg" alt="Raised Image" class="img-raised rounded img-fluid" style="width: 300px; height: 300px;">
                    <h4 class="info-title">Controllers</h4>
                    <p>Are control panels containing electrical components such as circuit breaker, switches, relays and other devices dedicated to the operation of fire pumps.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section text-center">
    <h2 class="title">Here is our team</h2>
    <div class="team">
        <div class="row">
            <div class="col-md-4">
                <div class="team-player">
                    <div class="card card-plain">
                        <div class="col-md-6 ml-auto mr-auto">
                            <img src="~/Content/Kit/img/author/jamescarlo_prof.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                        </div>
                        <h4 class="card-title">
                            Jamescarlo Canapi
                            <br>
                            <small class="card-description text-muted">Programmer</small>
                        </h4>
                        <div class="card-body">
                            <p class="card-description">
                                You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                <a href="#">links</a> for people to be able to follow them outside the site.
                            </p>
                        </div>
                        <div class="card-footer justify-content-center">
                            <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-instagram"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-facebook-square"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-player">
                    <div class="card card-plain">
                        <div class="col-md-6 ml-auto mr-auto">
                            <img src="~/Content/Kit/img/author/jansher_prof.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                        </div>
                        <h4 class="card-title">
                            Jansher Maano
                            <br>
                            <small class="card-description text-muted">Designer</small>
                        </h4>
                        <div class="card-body">
                            <p class="card-description">
                                You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                <a href="#">links</a> for people to be able to follow them outside the site.
                            </p>
                        </div>
                        <div class="card-footer justify-content-center">
                            <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-player">
                    <div class="card card-plain">
                        <div class="col-md-6 ml-auto mr-auto">
                            <img src="~/Content/Kit/img/author/juswille_prof.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                        </div>
                        <h4 class="card-title">
                            Juswille Pineda
                            <br>
                            <small class="card-description text-muted">Programmer</small>
                        </h4>
                        <div class="card-body">
                            <p class="card-description">
                                You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                                <a href="#">links</a> for people to be able to follow them outside the site.
                            </p>
                        </div>
                        <div class="card-footer justify-content-center">
                            <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-instagram"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-facebook-square"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (StaticMethods.CustomerHasTransaction(StaticMethods.TryParseObjToInt(Session["UserID"]).Value))
{
    @Html.Partial("_SectionFeedback")
}