﻿@model CRM_TripleTech.Models.ViewModels.Account.ChangePasswordViewModel

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="row">
    <div class="col-lg-4 col-md-6 ml-auto mr-auto">
        <div class="card card-login">
            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="card-header card-header-primary text-center">
                    <h4 class="card-title">Change Password</h4>
                </div>
                <p class="description text-center text-dark">
                    Enter your old and new password.
                </p>
                <div class="card-body">
                    <span class="text-danger" style="font-size:12px;">
                        @Html.ValidationSummary()
                    </span>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="material-icons">lock</i>
                            </span>
                        </div>
                        @Html.PasswordFor(m => m.OldPassword, htmlAttributes: new { @class = "form-control", @placeholder = "Enter Old Password..", @autocomplete = "off" })
                    </div>
                   <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="material-icons">lock</i>
                            </span>
                        </div>
                        @Html.PasswordFor(m => m.NewPassword, htmlAttributes: new { @class = "form-control", @placeholder = "Enter New Password..", @autocomplete = "off" })
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="material-icons">lock</i>
                            </span>
                        </div>
                        @Html.PasswordFor(m => m.ConfirmNewPassword, htmlAttributes: new { @class = "form-control", @placeholder = "Confirm New Password..", @autocomplete = "off" })
                    </div>
                    <div class="row pull-right">
                        <input class="btn btn-primary" value="Change Password" type="submit" />
                    </div>
                </div>
            }


        </div>
    </div>
</div>

