﻿@model CRM_TripleTech.Models.ViewModels.Account.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="row">
    <div class="col-lg-4 col-md-6 ml-auto mr-auto">
        <div class="card card-login">
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="card-header card-header-primary text-center">
                    <h4 class="card-title">Forgot Password</h4>
                </div>
                <p class="description text-center text-dark">
                    Enter your email address so we can send you your password.
                </p>
                <div class="card-body">
                    <span class="text-danger" style="font-size:12px;">
                        @Html.ValidationSummary()
                    </span>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="material-icons">email</i>
                            </span>
                        </div>
                        @Html.TextBoxFor(m => m.EmailAddress, htmlAttributes: new { @class = "form-control", @placeholder = "Enter Email Address.." })
                    </div>
                    <div class="row pull-right">
                        <a href=@Url.Action("Register", "Account") class="btn btn-primary btn-link btn-wd" style="font-size:12px;">
                            Register
                        </a>
                        <input class="btn btn-primary" value="Send Email" type="submit" />

                    </div>
                </div>
            }


        </div>
    </div>
</div>

