﻿@model CRM_TripleTech.Models.ViewModels.Account.AccountViewModel
@{
    ViewBag.Title = "Sign In";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="row">
    <div class="col-lg-4 col-md-6 ml-auto mr-auto">
        <div class="card card-login">
            @using (Html.BeginForm("Index", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @*@Html.ValidationSummary(true)*@

                <div class="card-header card-header-primary text-center">
                    <h4 class="card-title">Enter Credentials</h4>
                </div>
                <p class="description text-center text-dark">
                    Don't have an account yet? 
                    <a href=@Url.Action("Register", "Account")>
                        Register
                    </a>
                </p>
                <div class="card-body">
                    <span class="text-danger" style="font-size:12px;">
                        @Html.ValidationSummary()
                    </span>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="material-icons">perm_identity</i>
                            </span>
                        </div>
                        @Html.TextBoxFor(m => m.Username, htmlAttributes: new { @class = "form-control", @placeholder = "Enter Username.." })
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="material-icons">lock_outline</i>
                            </span>
                        </div>
                        @Html.PasswordFor(m => m.Password, htmlAttributes: new { @class = "form-control", @placeholder = "Password.." })
                    </div>
                    <div class="row pull-right">
                        <a href=@Url.Action("ForgotPassword", "Account") class="btn btn-primary btn-link btn-wd" style="font-size:12px;">
                            Forgot Password?
                        </a>
                        <input class="btn btn-primary" value="Login" type="submit" />

                    </div>
                </div>
            }


        </div>
    </div>
</div>

