﻿@model CRM_TripleTech.Models.ViewModels.Account.OrderDetailViewModel
@using CRM_TripleTech.Models
@using CRM_TripleTech.Models.DAL
@{
    ViewBag.Title = "Order Details";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

    var order = Model.ordertran;
    var user = Model.ordertran.USER;
    var company = Model.ordertran.USER.COMPANY;
    var orderdetail = Model.ordertran.ORDERTRANDETAIL.ToList();
}

<div class="container">
    <div class="card card-plain">
        <div class="card-body">
            <h3 class="card-title">Order Details</h3>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="tim-typo">
                        <label>Order #:</label> @order.ID
                    </div>
                    <div class="tim-typo">
                        <label>Customer:</label> @user.FIRSTNAME @user.LASTNAME
                    </div>
                    <div class="tim-typo">
                        <label>Company:</label> @if (company != null)
                        {<span>@company.NAME</span>}
                    </div>
                    <div class="tim-typo">
                        <label>Priority:</label>
                        @if (order.PRIORITYLEVEL == Constant.PRIORITY_LEVEL_HIGH)
                        {<span class="text-danger">@order.PRIORITYLEVEL</span> }
                    else if (order.PRIORITYLEVEL == Constant.PRIORITY_LEVEL_MED)
                    { <span class="text-warning">@order.PRIORITYLEVEL</span> }
                else
                { <span class="text-success">@order.PRIORITYLEVEL</span>}
                    </div>
                    <div class="tim-typo">
                        <label>Status:</label>
                        @if (order.STATUS == Constant.ORDERTRAN_STATUS_ACTIVE)
                        {<span class="badge badge-pill badge-secondary">@order.STATUS</span> }
                    else if (order.STATUS == Constant.ORDERTRAN_STATUS_PROCESSING)
                    { <span class="badge badge-pill badge-info">@order.STATUS</span> }
                else if (order.STATUS == Constant.ORDERTRAN_STATUS_SHIPPING)
                { <span class="badge badge-pill badge-info">@order.STATUS</span>}
                else if (order.STATUS == Constant.ORDERTRAN_STATUS_CANCELLED)
                { <span class="badge badge-pill badge-danger">@order.STATUS</span>}
                else if (order.STATUS == Constant.ORDERTRAN_STATUS_COMPLETED)
                { <span class="badge badge-pill badge-success">@order.STATUS</span>}
                    </div>
                </div>
                <div class="col-md 6">
                    <div class="tim-typo">
                        <label>Total Price:</label>
                        @if (order.STATUS == Constant.ORDERTRAN_STATUS_ACTIVE)
                        {<span class="text-info">Order is still active</span>}
                        else if (order.STATUS == Constant.ORDERTRAN_STATUS_CANCELLED)
                        { <span class="text-danger">Order has been cancelled.</span>}
                        else
                        { <span>₱ @order.TOTALPRICE</span>}
                    </div>
                    <div class="tim-typo">
                        <label>Total Unique items:</label> @orderdetail.Count
                    </div>
                    <div class="tim-typo">
                        <label>Date Delivered (UTC):</label> @order.DATEDELIVERED
                    </div>
                    <div class="tim-typo">
                        <label>Last Updated (UTC):</label> @order.DATEUPDATED
                    </div>
                    <div class="tim-typo">
                        <label>Location:</label> @order.LOCATION
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-plain">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-shopping" id="tblMain">
                    <thead>
                        <tr>
                            <th class="text-center"></th>
                            <th>Name</th>
                            <th class="th-description">Category</th>
                            <th class="text-right" style="width: 100px;">Price</th>
                            <th class="text-right">Quantity</th>
                            <th class="text-right">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in orderdetail)
                        {
                            <tr>
                                <td>
                                    <div class="img-container">
                                        @if (StaticMethods.ProductFileExists("~/images/products/" + item.ID + ".jpg"))
                                        {
                                            var fileName = item.ID + ".jpg";
                                            <img src="~/images/products/@fileName" alt="Raised Image" class="img-raised img-fluid info-img" style="width: 300px; height: 300px;">
                                        }
                                        else
                                        {
                                            <img src="~/Content/Kit/img/default_img/no_image_default.jpg" alt="Raised Image" class="img-raised img-fluid info-img" style="width: 300px; height: 300px;">
                                        }
                                    </div>
                                </td>
                                <td class="td-name">
                                    @item.INVENTORY.NAME
                                </td>
                                <td>@item.INVENTORY.CATEGORY.NAME</td>
                                <td class="td-number text-right">
                                    <small>₱</small> @item.PRICE
                                </td>
                                <td class="td-number">
                                    @item.QUANTITY
                                </td>
                                <td class="td-number">
                                    @{ var price = item.PRICE / item.QUANTITY; }
                                    <small>₱</small> @price
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

