﻿@model CRM_TripleTech.Models.ViewModels.Account.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="row">
    <div class="col-lg-6 col-md-8 ml-auto mr-auto">
        <div class="card">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="card-header card-header-primary text-center">
            <h4 class="card-title">Create an Account</h4>
        </div>
        <p class="description text-center text-dark">
            Create a new account to get started.
        </p>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-7 col-md-7">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="material-icons">face</i>
                            </span>
                        </div>
                        @Html.TextBoxFor(m => m.FirstName, htmlAttributes: new { @class = "form-control", @placeholder = "Enter Firstname.." })
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="material-icons">face</i>
                            </span>
                        </div>
                        @Html.TextBoxFor(m => m.MiddleName, htmlAttributes: new { @class = "form-control", @placeholder = "Enter Middlename.." })
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="material-icons">face</i>
                            </span>
                        </div>
                        @Html.TextBoxFor(m => m.LastName, htmlAttributes: new { @class = "form-control", @placeholder = "Enter Lastname.." })
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="material-icons">work</i>
                            </span>
                        </div>
                        @Html.DropDownListFor(m => m.CompanyID, Model.lst_Company, "-- Select a Company -- ", htmlAttributes: new { @class = "form-control", @placeholder = "Enter Lastname.." })
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="material-icons">email</i>
                            </span>
                        </div>
                        @Html.TextBoxFor(m => m.EmailAddress, htmlAttributes: new { @class = "form-control", @placeholder = "Enter Email Address.." })
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="material-icons">verified_user</i>
                            </span>
                        </div>
                        @Html.TextBoxFor(m => m.Username, htmlAttributes: new { @class = "form-control", @placeholder = "Enter Username.." })
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="material-icons">lock_open</i>
                            </span>
                        </div>
                        @Html.PasswordFor(m => m.Password, htmlAttributes: new { @class = "form-control", @placeholder = "Password.." })
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="material-icons">lock</i>
                            </span>
                        </div>
                        @Html.PasswordFor(m => m.ConfirmPassword, htmlAttributes: new { @class = "form-control", @placeholder = "Password.." })
                    </div>
                </div>
                <div class="col-lg-5 col-md-5">
                    <span class="text-danger" style="font-size:12px;">
                        @Html.ValidationSummary()
                    </span>
                </div>
            </div>
            <div class="row pull-right">
                <a href=@Url.Action("Index", "Account") class="btn btn-primary btn-link btn-wd" style="font-size:12px;">
                    Sign In
                    <div class="ripple-container"></div>
                </a>
                <input class="btn btn-primary" value="Register" type="submit" />
            </div>
        </div>
}
        </div>
    </div>
</div>


