﻿@model CRM_TripleTech.Models.ViewModels.Account.TransactionViewModel
@using CRM_TripleTech.Models
@{
    ViewBag.Title = "My Transactions";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="container">
    @if (Model.lst_order.Count == 0 & Model.lst_service.Count == 0 & Model.lst_feedback.Count == 0)
    {
        <h3>No available transactions yet have been made.</h3>
    }
    else
    {
        if (Model.lst_order.Count != 0)
        {
            <div class="card card-plain">
                <div class="card-body">
                    <h3 class="card-title">Order Transactions</h3>
                    <br>
                    <div class="table-responsive">
                        <table class="table table-shopping" id="tblMain">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Status</th>
                                    <th>Delivery</th>
                                    <th>Total Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.lst_order)
                                {
                                    <tr>
                                        <td class="td-name">
                                            <a href="@Url.Action("OrderDetails", "Account", routeValues: new { @id = item.ID})">@item.ID</a>
                                        </td>
                                        <td>
                                            @if (item.STATUS == Constant.ORDERTRAN_STATUS_ACTIVE)
                                            {<span class="badge badge-pill badge-secondary">@item.STATUS</span> }
                                        else if (item.STATUS == Constant.ORDERTRAN_STATUS_PROCESSING)
                                        { <span class="badge badge-pill badge-info">@item.STATUS</span> }
                                    else if (item.STATUS == Constant.ORDERTRAN_STATUS_SHIPPING)
                                    { <span class="badge badge-pill badge-info">@item.STATUS</span>}
                                else if (item.STATUS == Constant.ORDERTRAN_STATUS_COMPLETED)
                                { <span class="badge badge-pill badge-success">@item.STATUS</span>}
                            else if (item.STATUS == Constant.ORDERTRAN_STATUS_CANCELLED)
                            { <span class="badge badge-pill badge-danger">@item.STATUS</span>}
                                        </td>
                                        <td>
                                            @item.DATEDELIVERED
                                        </td>
                                        <td class="td-number text-left">
                                            <small>₱</small> @item.TOTALPRICE
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }

        if (Model.lst_service.Count != 0)
        {
            <div class="card card-plain">
                <div class="card-body">
                    <h3 class="card-title">Service Transactions</h3>
                    <br>
                    <div class="table-responsive">
                        <table class="table table-shopping" id="tblMain">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Service</th>
                                    <th>Details</th>
                                    <th>Date Completed</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.lst_service)
                                {
                                    <tr>
                                        <td>
                                            #@item.ID
                                        </td>
                                        <td class="td-name">
                                            @item.SERVICE.NAME
                                        </td>
                                        <td>
                                            <span>Date Schedule: @item.USERSERVICESCHEDS.FirstOrDefault().DATESCHEDULED.Value.ToString()</span>
                                                <br />
                                            @if (item.USERSERVICESCHEDS.FirstOrDefault() == null || item.USERSERVICESCHEDS.FirstOrDefault().USER_ID == Constant.NO_USER_ID)
                                            {
                                                <span class="text-danger">No user is currently assigned</span>
                                            }
                                            else
                                            {
                                                var user = item.USERSERVICESCHEDS.FirstOrDefault().USER;
                                                <span>@user.FIRSTNAME @user.LASTNAME</span>
                                            }
                                        </td>
                                        <td>
                                            @item.DATECOMPLETED
                                        </td>
                                        <td>
                                            @if (item.STATUS == Constant.SERVICE_STATUS_ACTIVE)
                                            {<span class="badge badge-pill badge-secondary">@item.STATUS</span> }
                                        else if (item.STATUS == Constant.SERVICE_STATUS_COMPLETED)
                                        { <span class="badge badge-pill badge-success">@item.STATUS</span> }
                                    else if (item.STATUS == Constant.SERVICE_STATUS_ONGOING)
                                    { <span class="badge badge-pill badge-warning">@item.STATUS</span>}
                                else if (item.STATUS == Constant.SERVICE_STATUS_PROCESSING)
                                { <span class="badge badge-pill badge-info">@item.STATUS</span>}
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        }

        if (Model.lst_feedback.Count != 0)
        {
            <div class="card card-plain">
                <div class="card-body">
                    <h3 class="card-title">Feedbacks</h3>
                    <br>
                    <div class="table-responsive">
                        <table class="table table-shopping" id="tblMain">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Subject</th>
                                    <th class="th-description">Message</th>
                                    <th class="th-description">Admin Reply</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.lst_feedback)
                                {
                                    <tr>
                                        <td>
                                            #@item.ID
                                        </td>
                                        <td class="td-name">
                                            @item.SUBJECT
                                        </td>
                                        <td>
                                            @item.USER_COMPLAINT
                                        </td>
                                        <td>
                                            @item.ADMIN_RESPONSE
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        }
    }
</div>

